* {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    text-decoration: none;
    font-family: var(--fontsize);
    color: var(--colorHead);
    font-size: 40px;
}
.slider{
    width: 70%;
    height: 80vh;
    display: flex;
    overflow: hidden;
    margin-right: 15%; 
    background-size: cover;
}
.slider .card {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    animation: moveside 10s alternate infinite;
    animation-delay: 3s;
}
.slider .card img{
    width: 100%;
    height: 100%;
}
@keyframes moveside {
    0%{
        transform: translateX(-0%);
    }
    25%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(200%);
    }
    75%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(400%);
    }}

/* רשימת בחירה של סינון */
  .organizing {
    width: 30%;
    padding: 12px 20px;
    margin: 3%;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
font-size:20px ;
font-family: var(--fontsize);
    color: var(--colorHead);

  }

  .allStore {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
  }
  #store {
    border: 5px solid grey;
    padding: 13px ;
    margin: 30px;
     width: 400px;
    height: 500px;
    }

    #store img{
        width: 80%;
        height: 80%;
        margin-right: 35px;
    
            }

    .buyStore {
        text-align: center;
        font-size: 18px;
        font-family: var(--fontsize);
        color: var(--colorHead);
    }

    .button {
        border-radius: 30%;
        font-size: 90%;
        background-image: url(../imges/coversecond.jpg);
        font-weight: bold;
        padding: 3%;
    }

    .button:hover {
        color: cornsilk;
        transition: 0.5s ease-in-out;
    }