* {
    background-image: url(../imges/backgrounggray2.jpg);
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
}

:root {
    --fontsize: 'Secular One', sans-serif;
    --colorHead: #1e3d59;
}

/* עיצוב navbar */

.NavBar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 3%;
    font-size: 30px;
}

.NavBar a {
    float: right;
    color: var(--colorHead);
    text-align: center;
    text-decoration: none;
    font-family: var(--fontsize);
}

.NavBar a:hover {
    font-size: 40px;
    color: hotpink;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

/* לוגו */

.logo {
    margin-right: 45%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

/* תמונה ראשונה מסך בית */

.HomeFirstImg {
    width: 99.5%;
    height: 100%;
    border: 2px double #1e3d59;
}

@media screen and (max-device-width:440px) {
    .NavBar {
        width: 100%;
        height: 100%;
        font-size: 60%;
        text-align: center;
    }
    .containerOne {
        width: 33%;
        height: 33%;
        font-size: 50%;
    }
    .video {
        width: 40%;
        height: 40%;
    }
    .text {
        font-size: 10%;
    }
    .contact {
        width: 100%;
        height: 10%;
        font-size: 10px;
    }
    .form{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

 .sizeOfHeader {
     font-size: 10%;
 }

}



@media screen and (max-device-width:800px) {
    .NavBar {
        width: 100%;
        height: 100%;
        font-size: 80%;
        text-align: center;
    }
    .containerOne {
        width: 33%;
        height: 33%;
        font-size: 50%;
    }
    .video {
        width: 40%;
        height: 40%;
    }
    .text {
        font-size: 5%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contact {
        width: 100%;
        height: 10%;
        font-size: 10px;
    }
    .form{
        display: flex;
        flex-direction: column;
    
    }
 
 .sizeOfHeader {
     font-size: 10%;
 }
 .contact{
    margin-bottom: 20%;
}
 .formstyle{
    width:50vw;
  }

  .sectionform {
    width:80vw;
  }

}


@media screen and (max-device-width:1200px) {
    .NavBar {
        width: 100%;
        height: 100%;
        font-size: 100%;
        text-align: center;
    }
    .containerOne {
        width: 33%;
        height: 33%;
        font-size: 50%;
    }
    .video {
        
        width: 92vw;
        height: 40vh;
    }
    .text {
        font-size: 5%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .contact {
        width: 100%;
        height: 10%;
        font-size: 10px;
    }
    .form{
        display: flex;
        flex-direction: column;
     
    }
    .contact{
        margin-bottom: 20%;
    }
     .formstyle{
        width:50vw;
      }
    
      .sectionform {
        width:80vw;
      }
    
}

.headerOne {
    color: var(--colorHead);
    font-size: 40px;
    margin: 10px;
    text-align: center;
    font-family: var(--fontsize);
}

.containerOne {
    display: inline-block;
    position: relative;
}

.Alltopimg {
    display: flex;
    justify-content: space-around;
}

.imageone {
    display: inline-block;
    width: 80%;
    height: auto;
    border-radius: 40%;
    margin: 10px 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.containerOne:hover .overlay {
    opacity: 0.8;
}

.text {
    color: black;
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 45%;
    text-align: center;
}

.headertwo {
    color: var(--colorHead);
    font-family: var(--fontsize);
    font-size: 35px;
    text-align: center;
}

.video {
    display: flex;
    justify-content: center;
}

.Paragraph {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

.headerthree {
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--colorHead);
    font-family: var(--fontsize);
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    background-image: url(../imges/coverfirstsec.jpg);
}

.formstyle {
    /* font-size: 120%; */
    font-size: 26px;
    font-family: var(--fontsize);
    border-radius: 10%;
}

#hoverButtom:hover {
    background-image: url(../imges/coversecond.jpg);
    color: cornsilk;
}

.inputform:focus {
    border: 6px solid cornsilk;
}

.footer {
    background-image: url(../imges/coversecond.jpg) !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100vw;
    height: auto;
    font-family: var(--fontsize);
    color: var(--colorHead);
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}

.marginbuttom {
    margin-top: 7%;
}

.footerImg {
    width: 55px;
    height: 50px;
    padding: 10px;
    background-image: url(../imges/coversecond.jpg) !important;
}

#whatsapp {
    direction: ltr;
    position: fixed;
    left: 0;
    bottom: 92%;
    width: 4%;
    height: auto;
    z-index: 1;
}

.contact {
    display: flex;
    justify-content: space-between;
    background-image: url(../imges/backgrown\ dark.jpg);
    color: hotpink;
    font-family: var(--fontsize);
}


