* {
    margin: 0;
    padding: 0;
    direction: rtl;
    color: wheat;
    box-sizing: border-box;
}

body{
    background-image: url(../imges/backgrown\ dark.jpg);
}

:root {
    --fontfamily: 'Bona Nova', serif;
    --parafontfamily: 'M PLUS Rounded 1c'
}

.NavBar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 3%;
    font-size: 30px;
}

.NavBar a {
    float: right;
    text-align: center;
    text-decoration: none;
    font-family: var(--fontfamily);
    color: wheat;
}

.NavBar a:hover {
    color: hotpink;
    font-size: 45px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-weight: bold;
}

/* לוגו */

.logo {
    margin-right: 45%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.tipHeader {
    font-family: var(--fontfamily);
    font-size: 50px;
    text-align: center;
}

.tipHeader::first-letter {
    font-size: 60px;
}

.FirstPara {
    position: relative;
    width: 70%;
    height: auto;
    margin-right: 20%;
    padding: 3%;
    font-family: var(--parafontfamily);
    font-size: 18px;
}

.tipHeadertwo {
    font-family: var(--fontfamily);
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.imgInsidepara {
    position: absolute;
    /* left: 1050px; */
    margin-right: 0;
    width:20%;
    height: 25%;
    margin-top: 2%;
    animation-name: pictureNextPara;
    animation: pictureNextPara 2s 6 ;
    animation-delay: 8s;
}



  .imgInsidepara2 {
    position: absolute;
    width:20%;
    height: 30%;
    animation-name: pictureNextPara;
    animation: pictureNextPara 2s 6;
    animation-delay: 8s;
  }


  .imgInsidepara3 {
    position: absolute;
    /* left: 1050px; */
    margin-right: 0;
    width:20%;
    height: 25%;
    margin-top: 2%;
    animation-name: pictureNextPara;
    animation: pictureNextPara 2s 6;
    animation-delay: 8s;
  }

  @keyframes pictureNextPara {
    0% {
              transform: rotateY(0);
    }
    50% {

        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0);
    }
  }

  .youtubeVideo {
      display: flex;
      justify-content: space-around;
      padding: 15px;

  }


  .footer {
    color: #1e3d59 !important;
    font-weight: bold;
    background-image: url(../imges/coversecond.jpg) !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    font-family: var(--fontsize);
    color: var(--colorHead);
    font-size:20px;
    text-align: center;
 }

 .marginbuttom {
     margin-top: 7%;
 }


 .contact {
    display: flex;
    justify-content: space-between;
    color: hotpink;
    padding: 1%;
    font-family: var(--fontfamily);
} 

.footerImg {
    width: 55px;
    height: 50px;
    padding: 10px;
    background-image: url(../imges/coversecond.jpg) !important;
}

#whatsapp {
    direction: ltr;
    position: fixed;
    left: 0;
    bottom: 92%;
    width: 4%;
    height: auto;
    z-index: 1;
}
.marginbuttom {
    margin-top: 7%;
}


@media screen and (max-device-width:440px) {

    .NavBar {
        width:60%;
        height: 80%;
        font-size:70%;
        text-align: center;
    }
   .tipHeader {

        font-size: 100%;
    }

    .tipHeadertwo{
        font-size: 100%;
    }

    .FirstPara{
        font-size: 60%;
    }

    .youtubeVideoOne{
        display: flex;
        flex-direction: column;
       width: 80%;
       height: auto;
    }

    .imgInsidepara3{
       height:20%;
       width:12%;
    }

    .imgInsidepara{
        height:20%;
        width:12%;
     }


     .imgInsidepara2{
        height:20%;
        width:12%;
     }
     .footer{
        width: 100%;
      }
}


@media screen and (max-device-width:780px) {

    .NavBar {
        width: 80%;
        height: 90%;
        font-size:100%;
        text-align: center;
    }
   .tipHeader {

        font-size: 100%;
    }

    .tipHeadertwo{
        font-size: 100%;
    }

    .FirstPara{
        font-size: 80%;
    }

    .youtubeVideo{
        display: flex;
        flex-direction: column;
       width: 80%;
    }

    .imgInsidepara3{
       height:20%;
    }

    .imgInsidepara{
        height:20%;
     }


     .imgInsidepara2{
        height:20%;
    
     }
   
}
